
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Login Page</title>
</head>

<body>

<div class="container">

  <h3>Login Page</h3>




  <form action="#" th:action="@{/authenticateTheUser}"
        th:object="${book}" method="POST">




    <input type="text"
           class="form-control mb-4 col-4" placeholder="User name">

    <input type="password"
           class="form-control mb-4 col-4" placeholder="password">




    <button type="submit" class="btn btn-info col-2">Login</button>

  </form>



</div>
</body>

</html>










